/*
Main Primary color
.color-primary-0 { color: #AA3939 }
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }
*/
body {
	background-color: #AA3939;
}

.header {
	background: url("#{resource['/images/header.jpg']}");
	width: 100%;
}

.headertitle {
	color: white;
	padding: 10px;
	font-size: 16px;
	line-height: 100%;
}

.navigation {
	background-color: #D46A6A;
	color: white;
	font-size: 16px;
	line-height: 100%;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	list-style: none;
	width: 100%;
}

.navigationitem {
	padding-left: 20px;
	text-decoration: none;
	color: #550000;
	font-size: 24px;
	font-weight: bold;
}

.navigationitem:hover {
	color: white;
	cursor: hand;
}

.content {
	font-size: 12px;
	background-color: #801515;
	color: white;
	padding: 5px;
}

.footer {
	background-color: #801515;
	color: white;
	position: absolute;
	width: 98%;
	font-size: 8px;
	line-height: 100%;
	bottom: 10px;
}

.error {
	color: red;
	font-family: monospace;
}